<nav class="navbar navbar-expand-lg navbar-light bg-light " style="padding-left: 20px;padding-right: 30px;">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#" (click)="handleOnChange('recipe')">Recipe</a> -->
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipe</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#" (click)="handleOnChange('shopping-list')">Shopping List</a> -->
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>
  </div>
  <div class="text-right">
    <div ngbDropdown placement="top-right" class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Manage</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem>Save Data</button>
        <button ngbDropdownItem>Fetch Data</button>
      </div>
    </div>
  </div>
</nav>